section(class="about-section")
    div(class="interesting-stuff")
        h5(class="interestin-title") Interesting stuff
        div(class="item-interesting")
            img(src="/images/pic07.jpg" class="img-interesting")
            img(src="/images/pic06.jpg" class="img-interesting")
            img(src="/images/pic05.jpg" class="img-interesting")
            img(src="/images/pic04.jpg" class="img-interesting")
            button(class="btn btn-play") More
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                    <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1h-4z"/>
                </svg>
    div(class="what-about")
        h5 So What´s this about?
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam inventore porro sapiente cum. In quia ipsam dicta architecto ducimus nam enim sit commodi repellat, debitis unde, quibusdam tempora, eos veniam?At, laborum consequatur earum obcaecati cupiditate voluptatibus error a iure possimus. Mollitia, doloremque! Doloribus, dolorem! Consequatur, eum labore omnis excepturi placeat cumque saepe eligendi, nesciunt, voluptate beatae voluptates dignissimos voluptatum.Porro, eveniet! Vel eum velit nulla ipsum esse? Vero vitae at odio soluta eaque provident fugiat voluptates cumque distinctio iure facilis autem corporis hic animi, quia maiores. Obcaecati, libero molestias.Nemo quasi ipsa dolore laudantium culpa accusantium repudiandae, dolorum earum beatae reprehenderit totam exercitationem? Officiis, eos? Neque blanditiis labore aperiam laboriosam sequi? Expedita, optio! Similique officia sed quas rem possimus!Voluptate facilis, rerum neque porro quisquam ipsam. Rem officiis ratione, quia sunt nulla ipsam neque perspiciatis aliquam, sint porro eaque, ducimus excepturi quas? Facilis laudantium vel praesentium eligendi tenetur totam.Id fuga inventore at iste error consequatur sequi optio, repellat tempore ea aliquam laboriosam animi doloribus nihil, velit amet tempora placeat est qui? In rem assumenda, dolor expedita doloribus ab?Veniam modi aperiam ullam est nihil, ut facilis laborum molestias corporis iure dolores aspernatur cum obcaecati, labore doloremque aliquam rerum magni fugiat error minima, quo cumque. Unde consequuntur animi sit? <br> <br> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum facilis voluptas quos quaerat nam quia ab ullam impedit nobis sit. Suscipit eligendi similique nulla dolorem voluptatum id voluptas laboriosam corrupti.
        button(class="btn btn-play") 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
            </svg> Continue reading 