section(class="cards")
    div(class="card")
        div(class="imgCard")
            img(src="/images/image1.bmp")
            span(class="subTitleImg") An interesting title
        div(class="bodyCard")
            h4(class="titleImg") Maybe here as well I think
            p(class="contexCard") Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis qui consequatur dignissimos omnis obcaecati magni amet tenetur vitae, laudantium voluptas quae ab, iure adipisci, aliquid sequi. Ad inventore magni voluptatum!  
        
        
    div(class="card")
        div(class="imgCard")
            img(src="/images/image2.bmp")
            span(class="subTitleImg") An interesting title
        div(class="bodyCard")
            h4(class="titleImg") this is also an interestin subtitle
            p(class="contexCard") Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis qui consequatur dignissimos omnis obcaecati magni amet tenetur vitae, laudantium voluptas quae ab, iure adipisci, aliquid sequi. Ad inventore magni voluptatum!  
        
        
    div(class="card")
        div(class="imgCard")
            img(src="/images/image3.bmp")
            span(class="subTitleImg") Oh,  and finally
        div(class="bodyCard")
            h4(class="titleImg") Here´s another intriguing subtitle
            p(class="contexCard")  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis qui consequatur dignissimos omnis obcaecati magni amet tenetur vitae, laudantium voluptas quae ab, iure adipisci, aliquid sequi. Ad inventore magni voluptatum!  
