section(class="footer")
    div(class="links_footer")
        div(class="items-links")
            h4 Random stuff
            a(href="#" class="underline") Etiam feugiat condimentum
            a(href="#" class="underline") Aliquam imperdiet suscipit odio
            a(href="#" class="underline") sed porttot cras in erat nec 
            a(href="#" class="underline") Felis varius pellenteseque potenti
            a(href="#" class="underline") Nulluam scelerisque blandir leo
        div(class="items-links")
            h4 Random stuff
            a(href="#" class="underline") Etiam feugiat condimentum
            a(href="#" class="underline") Aliquam imperdiet suscipit odio
            a(href="#" class="underline") sed porttot cras in erat nec 
            a(href="#" class="underline") Felis varius pellenteseque potenti
            a(href="#" class="underline") Nulluam scelerisque blandir leo
        div(class="items-links")
            h4 Random stuff
            a(href="#" class="underline") Etiam feugiat condimentum
            a(href="#" class="underline") Aliquam imperdiet suscipit odio
            a(href="#" class="underline") sed porttot cras in erat nec 
            a(href="#" class="underline") Felis varius pellenteseque potenti
            a(href="#" class="underline") Nulluam scelerisque blandir leo
        div(class="items-links")
            h4 Contact us
            a(href="#") Etiam feugiat condimentum
            a(href="#") Aliquam imperdiet suscipit odio
            a(href="#") sed porttot cras in erat nec 
            a(href="#") Felis varius pellenteseque potenti
            a(href="#") Nulluam scelerisque blandir leo
    p(class="copy") &copy; Untitled. All rigths reserved