header 
    h1(class="brand") mylorem
    navBar
        div(class="links")
            a(class="selected" href="#") welcome
            a(class="" href="#")  dropdown
            a(class="" href="#")  left slidebar
            a(class="" href="#")  rigth slidebar
            a(class="" href="#")  no sliderbar