extends layout

block content
  header 
    h1(class="brand") mylorem
    navBar
      ul(class="link")
        li  
          a hola1
        li  
          a hola2
        li 
          a hola3
     
     
     
  div(class="red")
    h4 hola mundo
  div carro
  p Welcome to hola desde  #{title}
