extends layout

block content
  div(class="contenedor")
    include components/header.pug
    include components/copy.pug
    include components/cards.pug
  include components/about.pug
  include components/footer.pug
    