/*fonts*/
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
/*import variables scss*/
/*medias*/
/*fonts*/
/*colors*/
body {
  background: #fff; }
  body .contenedor {
    background: #ececec;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 25px 10%;
    color: #444444; }
    body .contenedor .about-section .interesting-stuff .btn {
      font-size: 14px; }
    body .contenedor header {
      padding: 25px;
      padding-bottom: 35px;
      text-align: end;
      position: relative;
      display: flex;
      justify-content: end;
      font-family: 'Open Sans', sans-serif; }
      body .contenedor header .brand {
        color: #f3453d;
        position: absolute;
        top: 0;
        left: 25px;
        display: inline-block;
        font-family: 'Oleo Script', cursive; }
      body .contenedor header .navBar {
        position: relative;
        top: 0;
        right: 0; }
      body .contenedor header .selected {
        background: #444444;
        color: white; }
    body .contenedor header:hover {
      animation: flip 1s; }
    body .contenedor .caja {
      background-color: white;
      width: 100%;
      padding: 20px 5px;
      border-radius: 2px;
      position: relative; }
      body .contenedor .caja .div_presented {
        right: 0;
        display: flex;
        width: 80%;
        margin: auto; }
        body .contenedor .caja .div_presented .subtitle {
          font-size: 1.5em; }
        body .contenedor .caja .div_presented .btn-options {
          float: right;
          display: flex;
          flex-direction: column; }
    body .contenedor .cards {
      margin: 30px 0px;
      display: flex;
      justify-content: space-between; }
      body .contenedor .cards .card:hover {
        animation: wobble 1s; }
      body .contenedor .cards .card {
        background: white;
        margin: auto 25px;
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        z-index: 5; }
        body .contenedor .cards .card .imgCard img {
          width: 100%; }
        body .contenedor .cards .card .imgCard .subTitleImg {
          position: relative;
          top: -32px;
          font-family: 'Open Sans', sans-serif;
          text-shadow: 25px 25px 5px;
          color: white;
          padding: 5px; }
        body .contenedor .cards .card .bodyCard {
          position: relative;
          top: -25px;
          padding: 1px 15px; }
          body .contenedor .cards .card .bodyCard .titleImg {
            color: #444444; }
          body .contenedor .cards .card .bodyCard .contexCard {
            font-size: 0.8rem;
            font-weight: 100; }
  body a {
    margin: auto 5px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    text-decoration: none;
    color: #444444; }
  body a:hover {
    background: #444444;
    color: white; }
  body .underline {
    text-decoration: underline; }
  body .btn {
    padding: 20px 35px;
    margin: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: large;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 140%;
    line-height: 1px; }
  body .btn-play {
    background: #1591c4;
    color: white; }
  body .btn-info {
    background: #f2f2f2; }
  body .about-section {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    background-color: white;
    padding: 25px 10%; }
    body .about-section .what-about {
      font-family: 'Open Sans Condensed', sans-serif;
      color: #444444;
      letter-spacing: 1px; }
      body .about-section .what-about h5 {
        font-size: 20px;
        text-align: center; }
      body .about-section .what-about button {
        width: 70%; }
    body .about-section .interesting-stuff .interestin-title {
      font-size: 20px;
      text-align: center; }
    body .about-section .interesting-stuff .item-interesting {
      display: grid;
      grid-template-columns: repeat(2, 150px); }
      body .about-section .interesting-stuff .item-interesting .img-interesting {
        width: 110px;
        margin: 10px;
        border-radius: 5px; }
  body .footer {
    background-color: #f4f4f4;
    padding: 25px 10%; }
    body .footer .copy {
      text-align: center;
      color: #444444;
      margin: 0;
      margin-top: 45px; }
    body .footer .links_footer {
      display: flex;
      justify-content: space-between; }
      body .footer .links_footer .items-links {
        display: grid; }

button:hover {
  animation: wobble 1s; }
  button:hover svg {
    animation: heartBeat 3s infinite; }

div {
  animation: flip 1s; }

.card {
  animation: rubberBand 1s; }

@keyframes flip {
  0% {
    -webkit-transform: perspective(400px) scaleX(1) translateZ(0) rotateY(-1turn);
    transform: perspective(400px) scaleX(1) translateZ(0) rotateY(-1turn);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  40% {
    -webkit-transform: perspective(400px) scaleX(1) translateZ(150px) rotateY(-190deg);
    transform: perspective(400px) scaleX(1) translateZ(150px) rotateY(-190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  50% {
    -webkit-transform: perspective(400px) scaleX(1) translateZ(150px) rotateY(-170deg);
    transform: perspective(400px) scaleX(1) translateZ(150px) rotateY(-170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  80% {
    -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translateZ(0) rotateY(0deg);
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translateZ(0) rotateY(0deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  to {
    -webkit-transform: perspective(400px) scaleX(1) translateZ(0) rotateY(0deg);
    transform: perspective(400px) scaleX(1) translateZ(0) rotateY(0deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; } }

@keyframes wobble {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0); }
  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate(-5deg);
    transform: translate3d(-25%, 0, 0) rotate(-5deg); }
  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate(3deg);
    transform: translate3d(20%, 0, 0) rotate(3deg); }
  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate(-3deg);
    transform: translate3d(-15%, 0, 0) rotate(-3deg); }
  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate(2deg);
    transform: translate3d(10%, 0, 0) rotate(2deg); }
  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate(-1deg);
    transform: translate3d(-5%, 0, 0) rotate(-1deg); }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }

@keyframes rubberBand {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); } }

/*responsing desing*/
@media screen and (min-width: 0px) and (max-width: 720px) {
  body {
    font-size: 0.7rem;
    padding: 0;
    margin: 0; }
    body .about-section {
      display: flex;
      flex-wrap: wrap; }
      body .about-section .what-about button {
        width: 100%;
        font-size: 14px; }
    body .contenedor {
      margin: 0;
      padding: 0;
      overflow: hidden; }
      body .contenedor header {
        padding: 150px auto; }
        body .contenedor header .brand {
          position: absolute;
          top: -15px; }
      body .contenedor .caja {
        max-height: 100%;
        overflow: scroll; }
        body .contenedor .caja .div_presented {
          position: relative;
          display: flex;
          flex-wrap: wrap; }
      body .contenedor .cards {
        display: flex;
        flex-wrap: wrap; }
        body .contenedor .cards .card {
          margin: 25px 25px; }
          body .contenedor .cards .card .bodyCard {
            position: relative;
            top: 0; } }

@media screen and (min-width: 721px) and (max-width: 1000px) {
  body {
    font-size: 0.7rem; }
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (min-width: 1000) and (max-width: 1600) {
  body {
    font-size: 0.8rem; }
  h1 {
    position: absolute;
    top: -25px; } }
